<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="img/Favicon.png" type="image/x-icon">
		<title>Season</title>

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/timer.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		 <link href="css/main.css" rel="stylesheet" type="text/css">
        <script src="js/main.js"></script>
        <script src="js/angular.min.js"></script>

         <script type="text/javascript">
            
            function getAllUrlParams(url) {

              // get query string from url (optional) or window
              var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
              console.log("hello"+queryString);

              // we'll store the parameters here
              var obj = {};
              

              // if query string exists
              if (queryString!=null) {

                // stuff after # is not part of query string, so get rid of it
                queryString = queryString.split('#')[0];

                // split our query string into its component parts
                var arr = queryString.split('&');

                for (var i=0; i<arr.length; i++) {
                  // separate the keys and the values
                  var a = arr[i].split('=');

                  // in case params look like: list[]=thing1&list[]=thing2
                  var paramNum = undefined;
                  var paramName = a[0].replace(/\[\d*\]/, function(v) {
                    paramNum = v.slice(1,-1);
                    return '';
                  });

                  // set parameter value (use 'true' if empty)
                  var paramValue = typeof(a[1])==='undefined' ? true : a[1];

                  // (optional) keep case consistent
                  paramName = paramName.toLowerCase();
                  paramValue = paramValue.toLowerCase();

                  // if parameter name already exists
                  if (obj[paramName]) {
                    // convert value to array (if still string)
                    if (typeof obj[paramName] === 'string') {
                      obj[paramName] = [obj[paramName]];
                    }
                    // if no array index number specified...
                    if (typeof paramNum === 'undefined') {
                      // put the value on the end of the array
                      obj[paramName].push(paramValue);
                    }
                    // if array index number specified...
                    else {
                      // put the value at that index number
                      obj[paramName][paramNum] = paramValue;
                    }
                  }
                  // if param name doesn't exist yet, set it
                  else {
                    obj[paramName] = paramValue;
                  }
                }
                return obj;
              }
              
        
            }

        </script>

	</head>


	<body ng-app="myapp" ng-controller="myctrl" onload="countdown(year,month,day,hour,minute)">
		<!-- Carousel -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		        <li data-target="#myCarousel" data-slide-to="1" ></li>
		        <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>
		    <div class="carousel-inner">
		    	<div class= "container timer">
		    		<div id="home" class= "logo text-center">
		    			<h1>Welcome {{name}}</h1>
		   			</div>
			    	<div class= "row timer-circle">
			    		<div class= "main-text text-center">
			    			<h2 class="top-text"><script> 
                                    document.write(getAllUrlParams().user);
                                

                            </script> wishing a very happy new year</h2>
			    			<h2 class="sub-text">Homesist</h2>
			    		</div>
			    		<div class="text-center">
							<div class="numbers" id="count2"></div>
						</div>
						<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
							<div class= "circle text-center">
								<div class= "row" id= "spacer1">
									<div class= "title"></div>
									<div class= "numbers" id= "dday"></div>
								</div>
								<div class= "row" id= "spacer2">
									<div class= "title"></div>
									<div class= "title" id= "days">Day</div>
								</div>
							</div>
							<div class= "circle text-center">
								<div class= "row" id= "spacer1">
									<div class= "title"></div>
									<div class= "numbers" id= "dhour"></div>
								</div>
								<div class= "row" id= "spacer2">
									<div class= "title"></div>
									<div class= "title" id= "hours">Hr</div>
								</div>
							</div>
							<div class= "circle text-center">
								<div class= "row" id= "spacer1">
									<div class= "title"></div>
									<div class= "numbers" id= "dmin"></div>
								</div>
								<div class= "row" id= "spacer2">
									<div class= "title"></div>
									<div class= "title" id= "minutes">Min</div>
								</div>
							</div>
							<div class= "circle text-center">
								<div class= "row" id= "spacer1">
									<div class= "title"></div>
									<div class= "numbers" id= "dsec"></div>
								</div>
								<div class= "row" id= "spacer2">
									<div class= "title"></div>
									<div class= "title" id= "seconds">Sec</div>
								</div>
							</div>
						</div><!-- end of clock -->
			    	</div><!-- end of timer-circle -->
		    	</div><!-- end of timer -->
			    	
		        <div class="item active">
		        	<img src="img/summer.jpg" alt="First slide">
		        	
					<div class= "carousel-caption caption">
						<h1>May 2018 brings you joy as bright as sun </h1>
					</div>
		        </div><!-- end of first item -->
		        <div class="item">
		          	<img src="img/rainy_season.jpg" alt="Second slide">
		          	
					<div class= "carousel-caption caption">
						<h1>May your life becomes full of drops of happiness and peace</h1>
					</div>
		        </div><!-- end of second item -->
		        <div class="item">
			        <img src="img/winter_season.jpg" alt="Third slide">
			        
					<div class= "carousel-caption caption">
						<h1>This winter enjoy life as much you want</h1>
					</div>        
		        </div><!-- end of third item -->
		    </div>
		</div><!-- end of carousel -->

		<div class= "body-content">
			<!-- subscribe -->
			

	        <!-- share part -->
	      	<div class="container share">
				<div class="row text-center">
					<div class= "col-lg-6 col-lg-offset-3 share-text">
						<h3 class= "text-center">Stay Connected</h3>
						<hr class= "full">
	                	<p>We want to connect people like you.</p>
	                	<br/>
					</div>
				</div>
			</div>
			<div class= "container share-icons text-center">
				<div class= "row text-center">
					<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<ul class="socials-icons col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<li>
								<a href="https://www.facebook.com/sharer/sharer.php?u=index.html?user={{name}}" data-toggle="tooltip" title="Share in Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="whatsapp://send?text=index.html?user={{name}}" title="Share in Whatsapp"><img src="wp.ico" style="height: 52px;width: 52px;"></a>
							</li>
							
						</ul> 
					</div>
				</div>
			</div>
			<!-- end of share part -->
	    </div><!-- end of body content -->
		<!-- footer -->
		
		<div id="boxes" >
             <div style="display: none;" id="dialog" class="window">Hey buddy, whats up??<br>
                <input type="text" ng-model="name" style="
                     width: 70%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                    border: none;
                    background-color: #3CBC8D;
                    color: white;
                " placeholder=" Please enter your name" >
                <div id="popupfoot" ><a href="#" class="close agree" style="width: 100%;"><button style="background-color: #3CBC8D; color: black;width: 100%;">2018</button></a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            
            var app=angular.module('myapp',[]);
            app.controller('myctrl',function($scope,$interval,$window,$location){

                
            });

        </script>

	</body>
</html>