header
{
text-align:left;
width:100%;
background-color:#6b9aea;
top:0;
height:10px;
padding:0;
float:left; 
position:fixed;
left:0;                                     
}
img{
	padding-top:0px;
	padding-left:120px;
}
img.imgone{
	padding-top:230px;
	padding-left:120px;
	padding-right:0px;
	float:right;
}
img.imgtwo{
	padding-top:230px;
	padding-left:0px;
	float:left;
}
a{
	cursor:pointer
}
button.butone
{
text-align:center;
font-size:17px;
float:right;
font-family:Tahoma;	
background-color:#6b9aea;
position:fixed;
top:170px;
left:88.3%;
	
}
a
{
text-decoration:none;	
color:black;
}
button.buttwo
{
float:right;
font-size:30px;
margin-right:100px;
margin-top:300px;
padding:30px 30px;
}
button.buthree
{
float:left;
font-size:30px;
margin-top:300px;
margin-left:100px;	
padding:30px 35px;	
}
footer
{
background-color:#d9d9d9;
width:100%;
float:left;	
position:fixed;
bottom:0;
height:100px;
left:0;
}
p{
text-align:center;	
	
}
