margin:25px auto;



@charset "utf-8";

* {
	box-sizing:border-box;
}

body {
	background-color:white;
}



#chatbox {
	width:380px;
	min-width:300px;
	height:600px;
	background-color:#99FFCC;
	padding:20px;
	 margin:25px auto;
	 float:right;
}
#chatlogs {
	padding:20px;
	width:100%;
	height:450px;
	overflow-x:hidden;
	overflow-y:scroll;
}
#chatlogs::-webkit-scrollbar {
	width:10px;
}
#chatlogs::-webkit-scrollbar-thumb {
	border-radius:5px;
	background:rgba(0,0,0,.1);
}

#chat {
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
	margin-bottom::10px;
}

#user-photo {
	width:60px;
	height:60px;
	background:grey;
	border-radius:40%;
	overflow:hidden;
}
#user-photo img{
	width:100%;
}

#chat-message {
	width:70%;
	padding:15px;
	margin:5px 10px 0;
	background:#0066FF;
	border-radius:5px;
	
}


#chat-form {
margin-top:20px;
display:flex;
align-items:flex-start;	
}

#chat-form textarea {
	width:75%;
	height:50px;
	border:1px solid grey;
	border-radius:2px;
	resize:none;
	padding:10px;
	font-size:15px;
	
	}
	#chat-form textarea:focus {
		background:#fff;
		
	}
	#chat-form button {
		background:#0066FF;
		padding:5px 15px;
		font-size:30px;
		border:none;
		margin:0 10px;
		border-radius:3px;
		 box-shadow:0 3px 0 #0eb2c1;
		cursor: pointer;
		-webkit-transition:background .2s ease;
		-moz-transition:background .2s ease;
		-o-transition:background .2s ease;
	}
	
	#chat-form button:hover {
		background:grey;
	}
	#chat-form textarea::-webkit-scrollbar {
	width:10px;
}
#chat-form textarea::-webkit-scrollbar-thumb {
	border-radius:5px;
	background:rgba(0,0,0,.1);
}
	
	